@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");



body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

header,
main,
footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
}

h1 {
  text-align: center;
  margin: 0 0 1rem 0;
}

section {
  padding: 20px;
  background-color: white;
  margin: 1em 0;
  border: 1px solid #ccc;
}

nav a {
  padding: 20px;
  color: black;
  display: none; 
  text-decoration: none;
}

nav a:hover {
  text-decoration: none;
  color: #616061;
}

.menu-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}


.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 4px;
  background-color: black;
  margin: 5px 0;
}

footer {
  text-align: center;
}


@media screen and (min-width: 700px) {

  
  header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
  }

  
  .menu-btn {
    display: none;
  }

  
  nav {
    text-align: right;
  }

  nav a {
    display: inline-block;
    padding: 0.5rem 1rem;
  }

  
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  section {
    margin: 0; 
  }
}
